name: Go

on:
  push:
    branches: [ main ]
    paths:
      - '**.go'
      - '**.tpl'
  pull_request:
    branches: [ main ]
    paths:
      - '**.go'
      - '**.tpl'

jobs:
  test-linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.19
        uses: actions/setup-go@v2
        with:
          go-version: ^1.19
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Test
        run: go test -cover -coverpkg=./... -coverprofile coverage.out -covermode=count ./... --count=1 

      - name: Codecov
        uses: codecov/codecov-action@v2

      - name: Convert cover report
        run: |
          go tool cover -o coverage.html -html=coverage.out
          
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.0.0
        with:
          # Artifact name
          name: coverage.html # optional, default is artifact
          # A file, directory or wildcard pattern that describes what to upload
          path: coverage.html
          retention-days: 5

  golangci:
    name: lint
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go environment
        uses: actions/setup-go@v3.0.0
        with:
          # The Go version to download (if necessary) and use. Supports semver spec and ranges.
          go-version: 1.19 # optional
          
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest
